:root {
	--border-radius: 15px;
	--bg-color: #e6e6ec;
	--brand-color: #3450a1;
	--text-color: black;
	--items-bg-color: #f7f7e8;
	--items-bg-buttons: #f5f4f4;
}

* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg-color);
}
button {
	background: transparent;
	border: none;
	outline: none;
	color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	color: var(--text-color);
	/* color: var(--brand-color); */
}

input {
	border: none;
	outline: none;
}

.hidden {
	display: none;
}

.container {
	align-items: center;
	display: flex;
	justify-content: center;
}

.container--center {
	width: 80%;
	max-width: 800px;
}

.title {
	margin: 2em auto;
}
.title h1 {
	color: var(--text-color);
}

.items--list {
	display: grid;
	grid-template-columns: auto;
	row-gap: 1em;
}

.item--container {
	align-items: center;
	border-radius: calc(var(--border-radius) - 5px);
	display: grid;
	background-color: var(--items-bg-color);
	grid-template-columns: 70% 30%;
	grid-template-rows: 1fr 1fr;
	overflow: hidden;
	padding-left: 1.5em;
	padding: 1em;
	position: relative;
	animation: bounce-in 0.8s ease forwards;
}

.item--container::before {
	background-color: #7d83b7;
	border-radius: var(--border-radius);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	width: 7px;
}
.item--title {
	grid-row: 1 / 1;
}
.item--title span {
	font-size: 12px;
	font-weight: normal;
	margin-left: 1em;
	font-style: italic;
}

.item-description {
	align-items: center;
	display: flex;
	grid-column: 1;
	justify-content: space-around;
}
.item-description::before {
	background-color: #aa2b1d;
	border-radius: 50%;
	content: '';
	display: block;
	height: 11px;
	width: 11px;
}

.item-description p {
	font-size: 0.9em;
	font-weight: 600;
	text-align: center;
	margin: 0 5px;
}

.item-description span {
	font-weight: normal;
	font-size: 14px;
}

.item--buttons {
	align-items: center;
	display: flex;
	grid-row-end: -1;
	grid-row-start: 1;
	height: 100%;
	justify-content: flex-end;
}

.item--buttons button {
	background: var(--items-bg-buttons);
	border-radius: var(--border-radius);
	cursor: pointer;
	display: grid;
	height: 35px;
	margin-right: 1em;
	place-items: center;
	width: 30%;
	transition: 1s;
}
.item--buttons .button--delete:hover {
	background-color: #aa2b1d;
}
.item--buttons .button--edit:hover {
	background-color: #8ac4d0;
}

.item--buttons button > img {
	width: 20px;
}

.item--buttons button:hover img {
	transform: rotate(360deg);
	transition: 0.9s;
}

.item--buttons button:active {
	transform: scale(0.8);
	transition: 0.2s;
}

.totals {
	margin: 1em auto;
}

.totals-counter {
	display: flex;
	overflow-x: scroll;
	width: 100%;
	padding: 1em;
	padding-left: 0;
	box-sizing: border-box;
}

.totals-counter::-webkit-scrollbar {
	display: none;
}

.totals-container {
	background-color: #aa2b1d;
	/* background-color: #525298; */
	padding: 1em;
	margin-right: 2em;
	display: flex;
	align-items: center;
	border-radius: var(--border-radius);
}

.total-image {
	margin-right: 1em;
}
.total-image img {
	width: 35px;
}
.total-description > * {
	color: white;
	text-align: center;
}

.add--item {
	align-items: center;
	border-radius: var(--border-radius);
	margin: 1em auto;
	position: relative;
	background-color: var(--brand-color);
}
.add--item:hover {
	animation: scale-up 0.4s;
	border: none;
}
.add--item:active {
	transform: scale(0.8);
	transition: 0.3s;
}

.add--item button {
	box-sizing: border-box;
	cursor: pointer;
	padding: 1em;
	width: 100%;
	font-size: 1em;
	color: white;
}

.inputs {
	background-color: var(--bg-color);
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	bottom: 0;
	display: none;
	grid-template-rows: 20% 80%;
	left: 0;
	padding: 3em;
	position: fixed;
	right: 0;
	top: 50%;
	z-index: 1000;
}

.inputs.active {
	animation: backInUp 0.7s;
	display: grid;
}
.is-invalid {
	border: 1px solid red;
	animation: shakeX 0.5s;
}
.is-invalid::after {
	content: '';
	width: 10px;
	height: 10px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 1px solid red;
	display: inline-block;
}

.inputs--container {
	align-content: stretch;
	display: grid;
	gap: 1em;
	grid-template-areas: 'title calories' 'carbs proteins' 'button button';
	width: 100%;
}

.input--wrapper {
	background-color: white;
	border-radius: var(--border-radius);
	padding: 0 10px;
}

.input--wrapper input {
	border-radius: inherit;
	height: 100%;
	width: 90%;
	font-size: 1em;
}

.button--add {
	background-color: var(--brand-color);
	border-radius: 15px;
	grid-area: button;
}
.button--add button {
	cursor: pointer;
	font-size: 1.2em;
	height: 100%;
	width: 100%;
	color: white;
}
.button--add:hover {
	animation: scale-up 0.4s;
}
.button--add:active {
	transform: scale(0.9);
	transition: 0.5s;
}

.overlay {
	backdrop-filter: blur(1px);
	background-color: rgb(82 82 82 / 56%);
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.overlay.active {
	display: block;
	animation: show-in 1s;
}

#not-elements {
	text-align: center;
}

/* KEYFRAMES */
@keyframes scale-up {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes show-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes backInUp {
	0% {
		transform: translateY(1500px) scale(0.5);
	}
	60% {
		transform: translateY(1000px) scale(0.7);
	}
	90% {
		transform: translateY(0) scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes shakeX {
	0% {
		transform: translateX(10px);
	}
	20% {
		transform: translateX(-10px);
	}
	40% {
		transform: translateX(10px);
	}
	60% {
		transform: translateX(-10px);
	}
	80% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes bounce-in {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	20% {
		opacity: 0.5;
		transform: scale(1.1);
	}
	40% {
		opacity: 0.7;
		transform: scale(0.8);
	}
	60% {
		opacity: 0.8;
		transform: scale(1.1);
	}
	80% {
		opacity: 0.9;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* MEDIA QUERIES */
@media screen and (max-width: 500px) {
	.container--center {
		width: 95%;
	}
	.item--container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	.item-description::before {
		display: none;
	}
	.item--buttons {
		grid-row: 3 / 3;
		justify-content: center;
	}
	.item--buttons button {
		width: 45%;
	}
	.inputs.active {
		padding: 2em;
	}
	.input--wrapper input {
		width: 75%;
	}
	.is-invalid::after {
		position: relative;
		left: 15px;
	}
}

@media screen and (max-height: 560px) {
	.inputs {
		top: 30%;
	}
}
@media screen and (max-height: 440px) {
	.inputs {
		top: 10%;
	}
}

body.dark * {
	color: white;
	transition: 0.5s;
}
.dark {
	background-color: #242731;
	transition: 0.5s;
}
.dark .inputs {
	background-color: #242731;
}
.dark .inputs input {
	color: #242731;
}
.dark .item--container {
	background-color: #383e56;
}
